body {
  background-image: url('https://farm9.staticflickr.com/8890/16810125623_1ac5a4cce2_k.jpg');
	background-size: cover;
	background-repeat: none;
}

h1 {
	font-family:'Russo One', sans-serif;
	font-size: 64px;
	margin-left: 25px;
	color: #fff;
}

button {
	margin-left: 25px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 6px;
	font-family: 'Russo One', sans-serif;
	font-size: 28px;
	color: #4e4e55;
	text-decoration: none;
	cursor: pointer;
	background-color: #ddd;
	border: 3px solid #555;
	height: 60px;
	width: 200px;
}

button:hover{
	opacity: .75;
}

a{
	color: #000;
}

#excuses{
	position: relative;
	top: 30px;
	left: 25px;
	font-family: 'Amatic SC', monospace;
	font-size: 96px;
	color: #009;
}

#license{
	position: absolute;
	bottom: 25px;
	left: 25px;
	font-family: monospace;
	font-size: 12px;
}
